$color-black: #000000;
$color-gray-300: #d1d5db;

body {
  font-family: "Inter", "sans-serif";
}

.bg-drink {
  background-image: url("~/assets/img/keyvisual.jpg");
  background-color: rgba(#ffffff, 0.35);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: calc(100dvh - 72px);
  height: fit-content;
}
